<form (ngSubmit)="submitForm()">
    <div class="input-group">
        <p>
            <label for="initial-investment">Initial Investment</label>
            <input type="number" class="initial-investment" name="initialinvestment" [(ngModel)]="initialinvestment">
        </p>
        <p>
            <label for="annual-investment">Annual Investment </label>
            <input type="number" class="annual-investment" name="annualinvestment" [(ngModel)]="annualinvestment">
        </p>
    </div>
    <div class="input-group">
        <p>
            <label for="expected-return">Expected Return</label>
            <input type="number" class="expected-return" [(ngModel)]="expectedreturn" name="expectedreturn">
        </p>
        <p>
            <label for="duration">Duration</label>
            <input type="number" class="duration" [(ngModel)]="duration" name="duration">
        </p>
    </div>
    <p>
        <button>Calculate</button>
    </p>
</form>