<section class="mt-3 px-5">
  <form>
    <div class="row w-50 mx-auto p-4 rounded">
      <div class="col-6">
        <label>Initial Investment</label>
        <input type="number" class="form-control"/>
      </div>

      <div class="col-6">
        <label>Annual Investment</label>
        <input type="number" class="form-control"/>
      </div>

      <div class="col-6 mt-3">
        <label>Expected Return</label>
        <input type="number" class="form-control"/>
      </div>

      <div class="col-6 mt-3">
        <label>Duration</label>
        <input type="number" class="form-control"/>
      </div>

      <div class="col-12 mt-3 text-center">
        <button class="btn btn-light">CALCULATE</button>
      </div>
    </div>
  </form>
</section>
