<!--===================================-->
<!-- ===== _1_TaskByMe ===== -->
<!--===================================-->
<!-- <div class="d-block justify-content-center p-5">
    <app-header/>
    <app-inv-calculator (invData)="getdata($event)"/>
    <app-result-table [invData]="invData"/>
</div>
 -->



<!--===================================-->
<!-- ===== _2_SolutionByTeacher ===== -->
<!--===================================-->
<!-- <app-header/>
<app-user-input (calculate)="calculateInvestmentResults($event)"/>
<app-investment-result [results]="resultsData"/> -->



<!--===================================-->
<!-- ===== _3_Soution_With_Service ===== -->
<!--===================================-->
<app-header/>
<app-user-input/>
<app-investment-result/>